body{
  margin:0;
  background:#0a0a0a;
  font-family:Arial;
  color:#ffd700;
}

.container{
  max-width:420px;
  margin:auto;
  padding:15px;
}

.card{
  background:linear-gradient(145deg,#111,#1c1c1c);
  border-radius:16px;
  padding:15px;
  margin-bottom:15px;
  box-shadow:0 0 15px #ffd70044;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  font-weight:bold;
  background:linear-gradient(90deg,#ffd700,#ff9f00);
}

.game{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.game img{
  width:60px;
}
